$primary: #16d650;
$secondary: #0d5823;
$blanco: #ffff;

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
}

header {
    padding: 30px;
    text-align: center;
    background: $primary;
    color: black;
    font-weight: bold;
    font-size: 30px;

    .logo {
        width: 3%;
        float: left;
    }
}

main {
    width: 100%;
    background-color: rgb(126, 190, 132);

    h1 {
        font-size: 80px;
        margin: 3px;
    }
    h2{
        padding: 5px;
        color: rgb(0, 0, 0);
    }

    p {
        font-size: 40px;
        color: rgb(51, 49, 49);
        margin: 3px;
    }

    button {
        border: 1px solid #dadce0;
        color: black;
        font-weight: bold;
        padding: 5px;
        border-radius: 6px;
        margin-right: 10px;
    }
    select {
        border-radius: 3px;
        border: 1px solid gray;
        font-weight: bold;
        padding: 5px;
        margin: 5px;
    }
    [role=radio] {
        display: block;
        position: relative;
        margin: 0.5em;
        padding-left: 20px;
        border: thin transparent solid;
      }
      
      [role=radio]::before,
      [role=radio]::after {
        display: block;
        position: absolute;
        border-radius: 50%;
        content: '';
      }
      
      [role=radio]::before {
        top: 0;
        left: 0;
        width: 14px;
        height: 14px;
        border: 1px solid rgb(0, 0, 0);
        background: #fff;
      }
      
      [role=radio][aria-checked=true]::after {
        top: 3px;
        left: 3px;
        border: 5px solid rgb(255, 0, 0);
        content: '';
      }
      
      #codeex{
        background-color: #F1F1F1 ;
        padding:10px;
      }


.contenedor {
    width: 80%;

    .col {
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;



        img {
            margin-top: 8px;
            vertical-align: middle;
            width: 100%;
        }
    }
}
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $secondary;
    padding: 10px;

    li {
        float: left;
        padding: 5px;

        a {
            font-size: 30px;
            padding: 8px;
            background-color: $secondary;
            text-decoration: none;
            color: $blanco;
        }

        a:hover {
            background-color: gray;
            color: black;
        }
    }
}

img {
    max-width: 100%;

    #sfo {
        transition: width 0.5s;

    }
}

